﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts 
{
    <script src="~/ViewModels/IndexViewModel.js"></script>
    <script type="text/javascript">
        (function() {
            var vm = new k4xaml.IndexViewModel();
            ko.applyBindings(vm);
        })();
    </script> 
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Knockout</h1>
            </hgroup>
        </div>
    </section>
}

<h3>Demo Area</h3>
<br/>
<div class="demoArea">
    @*<input type="text" data-bind="value: DisplayMessage" />
    <span data-bind="text: DisplayMessage"></span>
    <input type="checkbox" data-bind="checked: DisplayValue" />*@
    
    @*<ul data-bind="foreach: DisplayMessage">
        <li data-bind="text: Message"></li>
    </ul>*@
    
    
    <input type="text" data-bind="value: FirstName" />
    <input type="text" data-bind="value: LastName" />
    <span data-bind="text: FullName" ></span>
</div>


