﻿<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/knockout-3.1.0.js"></script>


@section scripts{

   <script src="~/ViewModels/modal.js"></script>
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Knockout</h1>
            </hgroup>
        </div>
    </section>
}
    <form>
    <body>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
            <tbody data-bind="foreach: productList">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: name"></td>
                    <td>
                        <button data-bind="click: $root.editProduct">Edit</button>
                    </td>
                    <td>
                        <button data-bind="click: $root.removeProduct">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <button data-bind="click: addProduct">Add Product</button>
        <hr />

        <div id="details" data-bind="jqDialog: { autoOpen: false, resizable: false, modal: true }, template: { name: 'editTmpl', data: selectedProduct, if: selectedProduct }, openDialog: selectedProduct">
        </div>
    </body>
</form>
<script id="editTmpl" type="text/html">
    <p>
        <label>ID: </label>
        <input data-bind="value: editId" />
    </p>
    <p>
        <label>Name: </label>
        <input data-bind="value: editName" />
    </p>
    <button data-bind="jqButton: {}, click: $root.accept">Accept</button>
    <button data-bind="jqButton: {}, click: $root.cancel">Cancel</button>
</script>