﻿@{
    ViewBag.Title = "V2";
}
@section scripts{
  
    <script src="~/ViewModels/V2ViewModel.js"></script>
    <script type="text/javascript">
        (function() {
            var vm = new k4xaml.V2ViewModel();
            ko.applyBindings(vm);
        })();
    </script>
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Knockout</h1>
            </hgroup>
        </div>
    </section>
}


<div class="demoArea">
  
    @*<input type="radio" data-bind="checked: IsActive" />
    <br />
    <input type="checkbox" data-bind="checked: IsActive" />
    <input type="checkbox" data-bind="checked: IsActive()== false" />*@
    
    Sports: <select multiple="multiple" data-bind="options: Sports, optionsText: 'Name', optionsCaption: 'Select a  sport', selectedOptions: SelectedSports"></select>
    <br />
    Selected Sports :<select data-bind=" options: SelectedSports, optionsText: 'Name'"></select>
    <div data-bind="with: SelectedSport">
        <span data-bind="text: Name"></span>
    </div>    
</div>