﻿@{
    ViewBag.Title = "V3";
}
@section scripts{
    
    <script src="~/ViewModels/V3ViewModel.js"></script>
    <script type="text/javascript">
        (function() {
            var vm = new k4xaml.V3ViewModel();
            ko.applyBindings(vm);
        })();
    </script>
}
<h2>V3</h2>
@* 1 *@
@*<form>
    <input type="text" data-bind="value: FirstName" />
    <br />
    <input type="text" data-bind="value: LastName" />
    <br />
    <input type="button" data-bind="click: Save" value="save"/>
</form>
DisplayValue: <!--ko text: DisplayValue --> <!--/ko -->*@

@* 2 *@
@*<div class="demoArea">
    <span data-bind="click: SpanClicked">Click</span>
    <br />
    Message <!--ko text:DisplayMessage--> <!--/ko-->
</div>*@

@*3.*@
@*<div class="demoArea">
  <form>
        <input type="text" data-bind="value: Team1Score" />
        <br />
      <input type="text" data-bind="value: Team2Score" />
        <br />
      <input type="button" value="Winner" data-bind="click: AnnounceWinner.bind($data,Team1Score(), Team2Score())" />
    </form>
    DisplayValue: <!--ko text: Announcement --> <!--/ko -->

</div>*@

@*4.*@
@*<div>
    <input type="text" data-bind="value: FirstName, valueUpdate:'afterkeydown'" />
    <br />
    <input type="button" value="Save" data-bind="click: Save, enable: IsValid"/>
    DisplayMessage: <!--ko: text:IsValid --> <!--/ko-->
</div>*@


@*5.*@
@*<div class="demoArea">
    <form>
        <input type="text" placeholder="Text box 1" data-bind="hasfocus: Field1HasFocus" />
        <br />
        <input type="text" placeholder="Text box 2" data-bind="hasfocus: Field2HasFocus" />
        <br />
        <input type="checkbox" data-bind="hasfocus: Field3HasFocus" />

        <div style="float:left">
            <input type="radio" name="Options" data-bind="checked: Field1HasFocus" />Field1 
            <input type="radio" name="Options" data-bind="checked: Field2HasFocus" />Field2 
            <input type="radio" name="Options" data-bind="checked: Field3HasFocus" />Field3
        </div>
    </form>
       
</div>*@


@*6*@
<div class="demoArea">
    <input type="text" data-bind="event:{mousedown: HandleMouseDown, mouseup:HandleMouseUp}" />
</div>
