﻿@{
    ViewBag.Title = "V4";
}

<h2>V4</h2>
@section scripts{
    <script src="~/ViewModels/V4ViewModel.js"></script>
    <script  type="text/javascript">
        (function() {
            var vm = new k4xaml.V4ViewModel();
            ko.applyBindings(vm);
        })();
    </script>
}

<div class="demoArea">
    <div data-bind="with:Person">
        FirstName:<Span data-bind="text: FirstName" ></Span><br />  
        LastName:<Span data-bind="text: LastName"></Span><br />
        Age:<Span data-bind="text: Age" ></Span><br />

        <div data-bind="with:Address">
            Address:<span data-bind="text: Address"></span><br />
            City:<span data-bind="text: City"></span><br />
            State:<span data-bind="text: State"></span><br />
            Zip:<span data-bind="text: Zip"></span><br />
        </div>
        <input type="button" data-bind="click: $root.SavePerson" value="Save" />

    </div>   
    
</div>
